@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}
.or {
  position: absolute;
  top: 50%;
  left: 532px;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.reg{
  color: #999999;
  font-size: 12px;
  padding-left: 2px;
}
.input{
  display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;

}
/************************************************************************HOME PAGE***************************************************/
/************************************************************************NAV-BAR***************************************************/

#nav-bar{
  position: sticky;
  top: 0%;
  z-index: 10;
}

.btn-nav{
  border-radius: 20px !important;
  
}
.asd{
  padding-right: 10px;
}

.navbar-brand img{
  height: 40px;
  padding-left: 20px ;
}


.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/******************************************************************FOOTER********************************************************/ 
footer {
  background-color:#0093F0;
  padding: 25px;
  
}
.footer-logo1 img{
  height: 40px;

}

.footer-logo2 img{
  height: 120px;
  width: 130px;
  

  
}
.footer-logo3 img{
  height: 40px;
}
.footer-mail{
  border: 2px solid #0093F0;
  width: 6cm;
  margin:8px 0;
  outline: none;
  box-sizing: border-box;
  border-color: hsl(0, 0%, 73%);
  

}
.social_footer{
  background: white;
  border-radius: 100%;
  
}




/********************************************Downloard-Page****************************************************/

#homenum{
  padding-right: 50px;
  border-width: 1px;
  background-color:#CBCBCB ;
  
}
.btn-down{
  border-radius: 5px !important;
  width: 150px; 
 }



/********************************************SingIN & SINGUP*********************************************************/
body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  overflow-x: hidden;
  height: 100%; 
}

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border-radius: 0;
  border: none;
  border-style: none!important;
}

.card2 {
  width: 50%;
  padding: 40px 30px 10px 30px;
  
}

.card1 {
  width: 50%;
  background: linear-gradient(to right,#16b2faba, #16b2faba), url('Images/signIn.png') no-repeat top center;
}

#logo {
  width: 70px;
  height: 60px
}

.heading {
  margin-bottom: 60px !important
}


a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px !important
}

.sm-text {
  font-size: 15px
}
#s1{
  color: rgb(255, 255, 255);
 
}

#continueWithSocialText{
  color: rgb(255, 255, 255);
  
}
h8 {
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
}

.h1{
  color: #FFF;
  font-size: 15px;
}

.social-btn .btn {
  margin: 10px 0;
  font-size: 17px;
  text-align: center; 
  line-height: 24px;      
}
.social-btn .btn i {
  float: center;
  margin: 4px 15px  0 5px;
  min-width: 15px;  
}


html {
  font-size: 1rem;
}

#formElements input[type="text"],
select.form-control {
background: transparent;
border: none;
border-bottom: 1px solid rgb(170, 170, 170);
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 0;
} 

input[type="text"]:focus,
select.form-control:focus {
-webkit-box-shadow: none;
box-shadow: none;
}

.topElements{
  position: absolute;
  left: 18%;
  top: 10%
}

.text-success{
  font-size: 15px;
  font-weight: bold;
}

.control-label{
  color: rgb(170, 170, 170);
  font-weight: 200;
}

/*************SignIn/SignUp responsive for tab,phones******************/
@media screen and (max-width: 992px) { 
     
  .card1 { 
      width: 100%;
      padding: 40px 30px 10px 30px;
      background:rgb(255, 255, 255)
  }
  #signIn #t1 #t2{
      visibility: hidden;
  }
  
  
  #continueWithSocialText{
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 12px;
  }
  #s1{
      margin: auto;
      width: 100%;
      padding: 10px;
      justify-content: center;
      position: absolute;
      color: rgb(255, 255, 255);
      top:5px;
      text-align: center;
      object-fit: cover;
      font-family: Chalkduster;
      background: linear-gradient(to right,#16b2faba, #16b2faba), url('Images/mobileSign.jpg') no-repeat center ;
  }
  #or{
      margin: auto;
      width: 90%;
      padding: 10px;
      justify-content: center;
      position: absolute;
      color: rgb(0, 0, 0);
      top:50opx;
      text-align: center;
      font-size: 20px;
  }

  

  #signInbtn{
      width:100%;
      border-radius:1rem;
  }
  #signUp{
      visibility: hidden;
  }

   #socialbtn{
    width:100%;
 
  }
  
  #formElements{
      position: absolute;
      top: 60px;
  }
 
  .card0 {
      display: flex;
      flex-direction: column-reverse;
     
  }

  .card2 {
      width: 100%;
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important
  }
 
  .card2 {
      padding: 50px
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}
















